#overlay {
    width: 54%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 1%;
        
    color: white;

    padding: 5px;

    .nav {
        height: 6%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;

        a {
            padding: 5.5px;
            background: #C44D58;
        }
    }

    .info-form {
        height: 93%;
        width: 100%;
        margin-top: 5px;

        display: grid;
        gap: 5px;
        grid-template-columns: 30% auto 90px 80px;
        grid-template-rows: repeat(12, auto);

        .img {
            background-color: white;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 5;
        }

        .name {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .age {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .sex {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .appearance {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 4;
        }

        .personality {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        .life {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 5;
            grid-row-end: 9;
        }

        .race {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 9;
            grid-row-end: 13;

            background-color: white;
        }

    }

    .stats-skills {
        height: 93%;
        width: 100%;
        margin-top: 5px;

        display: flex;
        flex-direction: row;
        
        .stats-form {
            height: 100%;
            width: 40%;
            background-color: wheat;
        }

        .skills-form {
            height: 100%;
            width: 60%;
            background-color: green;
        }
    }
}
